Codility/CodilitySolution/CodilitySolution/bin/
Codility/CodilitySolution/CodilitySolution/obj/
Codility/Lesson 1 - Iterations/BinaryGap/.vs/
Codility/Lesson 1 - Iterations/BinaryGap/BinaryGap/bin/
Codility/Lesson 1 - Iterations/BinaryGap/BinaryGap/obj/
Codility/CodilitySolution/.vs/
